.food-database-api {
  padding: 20px;
  margin: 0 0 20px 10px;

  h2 {
    color: #2c3e50;
    margin-bottom: 10px;
   }
  .api-info h2 {
    text-align: center;
  }

  ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    margin-left: 20px;

    li {
      margin-bottom: 8px;
      text-align: left;

      ul {
        list-style-type: "→";
        li {
          font-weight: 700;
        }
      }
    }
  }
  .pricing {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    table {
      width: 95%;
      border-collapse: collapse;
      margin: 20px 0;
      overflow-x: auto;

      th,
      td {
        border: 1px solid grey;
        padding: 10px;
        text-align: left;
      }

      th {
        text-align: center;
        background-color: #f2f2f2;
      }
    }
  }

  section {
    text-align: left;
  }

  p {
    line-height: 1.8;
  }
}

@media screen and (max-width: 768px) {
  .food-database-api {
    padding: 20px 0 0 0;
    h2 {
      font-size: 18px;
    }

    table {
      display: block;
      width: 95%;
      font-size: 14px;

      td {
        padding: 2px;
      }
      th {
        padding: 5px;
      }
    }
    ul {
      font-size: 14px;
    }

    p {
      line-height: 1.6;
      font-size: 14px;
    }
  }
}
